.red {
    background-color: red;
}

.blue{
    background-color: blue;
}

.box {
    width: 200px;
    height: 100px;
    border: 2px solid rgb(53, 236, 63);
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}